
<ion-header> </ion-header>

<!-- Controle dos slides de login e criação de conta -->
<ion-content class="swiper-no-swiping">
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" value="segmentSignin">
      <ion-segment-button value="segmentSignin" tabindex="-1">
        <ion-label class="textSegment">Entrar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segmentSignup" tabindex="-1">
        <ion-label class="textSegment">Crie sua conta</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Slides de navegação entre Login e criação de conta -->
  <ion-slides>
    <!-- Login - Slide -->
    <ion-slide>
      <ion-grid>
        <ion-row class="espacoLinha">
          <ion-col size="6" class="sideFormLogin">
            <h2> 
              &nbsp; Dulus App 
            </h2>

          <h3 class="welcome"><b> Bem vindo. </b></h3>

          <!-- Formulário de login -->
          <div class="formArea"> 
            <h3> Entre na sua conta. </h3>
            <ion-item>
              <ion-icon color="medium" slot="start" name="at-outline"></ion-icon>
              <ion-label color="medium" position="floating">E-mail</ion-label>
              <ion-input [(ngModel)]="userAuth.email" type="text" #email ></ion-input>
            </ion-item>
            &nbsp;
            <ion-item>
              <ion-icon color="medium" slot="start" name="key-outline"></ion-icon>
              <ion-label color="medium" position="floating"> Senha </ion-label>
              <ion-input [(ngModel)]="userAuth.password" type="password" #password></ion-input>
            </ion-item>
            <h6 ion-button clear class="btnReset" (click)="handleResetPass()"> Esqueceu a senha? <b> Clique aqui. </b> </h6>
            &nbsp;
            <ion-button ion-button expand="block" class="btnLogin" (click)="handleLogin()" (ionBlur)="blurBtn()"> Entrar </ion-button>
          </div>
        </ion-col>

          <!-- Coluna da imagem -->
          <ion-col size="6" class="sideColLogin">
            <!--<h1> Juntos nos motivamos </h1>-->
            <ion-img class="imageSize" src="../../../assets/images/imageSignup.jpg"></ion-img>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Criar conta - Slide -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="sideColLogin">
            <p> &nbsp; </p>
            <ion-img src="../../../assets/images/imageLogin.jpg"></ion-img>
          </ion-col>
          <ion-col size="6" class="sideFormLoginCreate">
            <div class="formAreaCreate"> 
              <h1 class="subtitleText"> Cadastre seu estabelecimento, é rápido e fácil.</h1>
              <h4 class="descSubtitleText"> Encontre onde seu público está. </h4>

              <form [formGroup]="formCriarConta" (ngSubmit)="newUserEstab()">
                <ion-item Lines="none">
                  <ion-icon color="medium" slot="start" name="person-outline"></ion-icon>
                  <ion-label color="medium" position="floating"> Nome </ion-label>
                  <ion-input [(ngModel)]="newUserAuth.nome" type="text" #nomeCriar color="medium" formControlName="nome" >  </ion-input>
                </ion-item>
                <!-- Validação do campo Nome -->

                <ion-item Lines="none">
                  <ion-icon color="medium" slot="start" name="at-outline"></ion-icon>
                  <ion-label color="medium" position="floating"> E-mail </ion-label>
                  <ion-input [(ngModel)]="newUserAuth.email" type="email" #emailCriar color="medium" formControlName="email" >  </ion-input>
                </ion-item>
                <!-- Validação do campo E-mail -->
                <div *ngIf="formCriarConta.controls.email.errors" class="areaValidator">
                  <!--<p *ngIf="formCriarConta.controls.email.errors.required"><small>Campo obrigatório</small></p>-->
                  <p *ngIf="formCriarConta.controls.email.errors.pattern" class="textValidator"><small>Formato de e-mail inválido</small></p>
                </div>

                <ion-item Lines="none">
                  <ion-icon color="medium" slot="start" name="phone-portrait-outline"></ion-icon>
                  <ion-label color="medium" position="floating"> Celular (DD) 00000-0000 </ion-label>
                  <ion-input [(ngModel)]="newUserAuth.celular" type="cell" #cellCriar color="medium" formControlName="celular" (ionBlur)="blurCell()">  </ion-input>
                </ion-item>
                <!-- Validação do campo Celular -->
                <div *ngIf="formCriarConta.controls.celular.errors" class="areaValidator">
                  <p *ngIf="formCriarConta.controls.email.errors.required" class="textValidator"><small>Campo obrigatório</small></p>
                  <p *ngIf="formCriarConta.controls.celular.errors.minLength" class="textValidator"><small>Número de celular inválido</small></p>
                </div>

                <p> 
                  <!--<ion-checkbox color="primary" value="true" [(ngModel)]="newUserAuth.aceiteTermos"></ion-checkbox>
                    &nbsp; Concordo com os <b> termos de uso </b>-->
                </p>
                  &nbsp;
                  <ion-button ion-button expand="block" class="btnCreate" type="submit" #btnCriar [disabled]="!formCriarConta.valid"> Começar cadastro </ion-button>
                </form>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
