

.titlePopover {
    color: gray;
    font-family: 'Kreon';
    text-align: center;
}

ion-item {
    --ion-background-color: #e4e2ec;
}

ion-thumbnail {
    --border-radius: 50px;
    margin-right: 30px;
}
