<ion-list>
  <ion-item lines="none">
    <ion-button ion-button full fill="clear" class="textBtnPopover">
      <ion-icon name="color-fill"></ion-icon>
      &nbsp; Temas
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button ion-button full fill="clear" class="textBtnPopover"> 
      <ion-icon name="settings"></ion-icon>
      &nbsp; Configurações 
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button ion-button full fill="clear" class="textBtnPopover" (click)="logOut()"> 
      <ion-icon name="log-out"></ion-icon>
      &nbsp; Sair 
    </ion-button>
  </ion-item>
</ion-list>
